<%- include('../../partials/header.ejs') %>
<br>
<div class="container">
    <div class="card mt-4">
        <div class="card-header">
            <h2>Login de Admin</h2>
        </div>
        <div class="card-body">
            <form action="/authenticate" method="POST">
                <input class="form-control" type="email" name="email" placeholder="email@exemplo.com">
                <input class="form-control mt-2" type="password" name="password" placeholder="****">
                <div class="d-grid">
                    <button type="submit" class="btn btn-dark btn-block mt-2">Logar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<%- include('../../partials/footer.ejs') %>